body {
  min-height: 100vh;
  box-sizing: border-box;
  text-align: center;
  background: linear-gradient(to top left, hsl(0, 1%, 75%), hsl(0, 1%, 72%));
}

.choose-animal {
  padding: 20px;
}

.btn-animal {
  padding: 10px 30px;
  font-size: 25px;
  cursor: pointer;
  border-radius: 10px;
  border-style: none;
  background-color: hsl(180, 24%, 88%);
  transition: 0.5s ease-in-out;
}

.btn-animal:hover {
  transform: scale(1.1);
}

.btn-dog {
  margin-right: 30px;
}

.active {
  background-color: hsl(180, 100%, 80%);
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  gap: 40px;
}

.content {
  /* position: relative; */
  width: 300px;
  height: 300px;
  margin-bottom: 50px;
  cursor: pointer;
  transition: transform 0.5s;
}

.content:hover {
  transform: scale(1.08);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 0px 15px hsl(0, 0%, 0%);
}

.btn {
  padding: 13px 25px;
  font-size: 25px;
  cursor: pointer;
  border-radius: 99px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 3%, 8%);
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -1;
}
.spinner svg {
  height: 6rem;
  width: 6rem;
  fill: #141313;
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.button-loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid hsl(0, 0%, 100%);
  border-color: hsl(0, 0%, 0%) transparent hsl(0, 0%, 0%) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}
